syntax: glob
*.pyc
output/scenes.txt
output/actions.txt
output/conversation.txt
output/dialog_states.txt
output/factions.txt
output/info_pages.txt
output/item_kinds1.txt
output/map_icons.txt
output/menus.txt
output/meshes.txt
output/mission_templates.txt
output/music.txt
output/particle_systems.txt
output/parties.txt
output/party_templates.txt
output/postfx.txt
output/presentations.txt
output/quests.txt
output/quick_strings.txt
output/scene_props.txt
output/scripts.txt
output/simple_triggers.txt
output/skills.txt
output/skins.txt
output/sounds.txt
output/strings.txt
output/tableau_materials.txt
output/tag_uses.txt
output/triggers.txt
output/troops.txt
output/variable_uses.txt
output/variables.txt